html {
    height: 100%;
}
body {
    min-height: 100%;
}

.header{
    position: absolute;
    right: 0%;
}

.container{
    position: relative;
}

.body {
    position: absolute;
    top: 50%;
    left: 50%;
}

